<ion-header>
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
    <img src="assets/images/conejo.png" alt="Logo" class="img-logo mobile-only"/>
    <ion-buttons slot="end" class="desktop-only">
      <ion-button (click)="goToHomePage()">
        Inicio
      </ion-button>
      <ion-button (click)="goToFavPage()">
        Favoritos
      </ion-button>
      <ion-button (click)="goToCamPage()">
        Camara
      </ion-button>
      <ion-button *ngIf="isLoggedIn" class="name">
        {{ userName }}
      </ion-button>
      <ion-button *ngIf="!isLoggedIn" (click)="login()" class="name">
        Iniciar sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="separator"></div> <!-- Línea separadora -->
<ion-button expand="full" (click)="abrirModalCrearReceta()">Crear receta</ion-button>

<ion-content>
  <ion-grid>
    <ion-row class="main-space">
      <!-- Recetas guardadas -->
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let receta of recetas">
        <ion-card (click)="irADetalleReceta(receta)">
          <img src="{{receta.imagen}}" alt="{{receta.nombre}}">
          <ion-card-header>
            <ion-card-title>{{ receta.nombre }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-modal [isOpen]="mostrarModalCrearReceta" (ionModalDidDismiss)="cerrarModalCrearReceta()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Crear Receta</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="cerrarModalCrearReceta()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <form [formGroup]="formReceta" (ngSubmit)="guardarReceta()">
          <ion-item>
            <ion-label position="floating">Nombre de la receta</ion-label>
            <ion-input formControlName="nombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Ingredientes</ion-label>
            <ion-textarea formControlName="ingredientes"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Procedimiento</ion-label>
            <ion-textarea formControlName="procedimiento"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label>Imagen</ion-label>
            <ion-button (click)="seleccionarImagen()">Seleccionar Imagen</ion-button>
          </ion-item>
          <ion-button expand="block" (click)="guardarReceta()" [disabled]="formReceta.invalid">
            Guardar Receta
          </ion-button>
          <img *ngIf="imagenSeleccionada" [src]="imagenSeleccionada" alt="Previsualización" />
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>

<div class="separator"></div> <!-- Línea separadora -->

<!-- Navbar inferior solo para móvil -->
<ion-footer class="mobile-only">
  <ion-toolbar>
    <ion-segment [(ngModel)]="tabService.selectedTab">
      <ion-segment-button value="home" (click)="goToHomePage()">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-segment-button>
      <ion-segment-button value="fav" (click)="goToFavPage()">
        <ion-icon name="heart-outline"></ion-icon>
        <ion-label>Favoritos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="cam" (click)="goToCamPage()">
        <ion-icon name="camera-outline"></ion-icon>
        <ion-label>Camara</ion-label>
      </ion-segment-button>
      <ion-segment-button value="profile" (click)="toggleProfileMenu()">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <!-- Modal que actúa como menú lateral desde la esquina inferior derecha -->
<div class="custom-modal" *ngIf="isProfileMenuOpen" (click)="closeProfileMenu()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <ion-list>
      <ion-item>
        <ion-label>{{ userName }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Configuración</ion-label>
      </ion-item>
      <ion-item (click)="logout()">
        <ion-label>Cerrar sesión</ion-label>
      </ion-item>
    </ion-list>
  </div>
</div>
</ion-footer>
