<ion-header>
  <ion-toolbar>
    <ion-title>
      Favoritos
    </ion-title>
    <img src="assets/images/conejo.png" alt="Logo" class="img-logo mobile-only" />
    <ion-buttons slot="end" class="desktop-only">
      <ion-button (click)="goToHomePage()">
        Inicio
      </ion-button>
      <ion-button (click)="goToFavPage()">
        Favoritos
      </ion-button>
      <ion-button (click)="goToCamPage()">
        Camara
      </ion-button>
      <ion-button *ngIf="isLoggedIn" class="name">
        {{ userName }}
      </ion-button>
      <ion-button *ngIf="!isLoggedIn" (click)="login()" class="name">
        Iniciar sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="separator"></div> <!-- Línea separadora -->

<ion-content>
  <ion-list>
    <ion-item *ngFor="let receta of favoritos" (click)="irADetalleReceta(receta)">
      <ion-thumbnail slot="start">
        <img [src]="receta.imagen" alt="{{ receta.nombre }}">
      </ion-thumbnail>
      <ion-label>{{ receta.nombre }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<div class="separator"></div> <!-- Línea separadora -->

<!-- Navbar inferior solo para móvil -->
<ion-footer class="mobile-only">
  <ion-toolbar>
    <ion-segment [(ngModel)]="tabService.selectedTab">
      <ion-segment-button value="home" (click)="goToHomePage()">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-segment-button>
      <ion-segment-button value="fav" (click)="goToFavPage()">
        <ion-icon name="heart-outline"></ion-icon>
        <ion-label>Favoritos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="cam" (click)="goToCamPage()">
        <ion-icon name="camera-outline"></ion-icon>
        <ion-label>Camara</ion-label>
      </ion-segment-button>
      <ion-segment-button value="profile" (click)="toggleProfileMenu()">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <!-- Modal que actúa como menú lateral desde la esquina inferior derecha -->
  <div class="custom-modal" *ngIf="isProfileMenuOpen" (click)="closeProfileMenu()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <ion-list>
        <ion-item>
          <ion-label>{{ userName }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Configuración</ion-label>
        </ion-item>
        <ion-item (click)="logout()">
          <ion-label>Cerrar sesión</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-footer>